<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head')  %> 

  <body>
    <div class="container">

      <div class="styles">
        <label for="dark/light">Dark Mode <i id="moon" class="far fa-moon"></i></label>
        <input id="dark-light" onChange="changeCSS()" class="style-btn" type="checkbox"></input>
      </div>

      <header class="title">
        <h3 class="covid-header">C<i class="fas fa-virus virus"></i>VID-19</h3>
        <h4 class="covid-subtitle">Latest Coronavirus Data</h4>
      </header>
      
      <div class="country">
        <h1 id="country-name" class="country-name"><%= country.country %></h1>
          <span class="flag flag-icon-background flag-icon-<%= country.code.toLowerCase() %>"></span>
      </div>

      <div class="results">

        <div class="data">
          <h4 class="data-title">Confirmed</h4>
          <p class="number-data"><%= !country.confirmed ? "No Data" : country.confirmed %></p>
          <p class="data-date"><%= !country.lastUpdate ? "No Data" : country.lastUpdate %></p>
          <p class="data-description">Number of confirmed COVID-19 cases</p>
        </div>

        <div class="data">
          <h4 class="data-title">Deaths</h4>
          <p class="number-data"><%= !country.deaths ? "No Data" : country.deaths %></p>
          <p class="data-date"><%= !country.lastUpdate ? "No Data" : country.lastUpdate %></p>
          <p class="data-description">Number of deaths caused by COVID-19</p>
        </div>

        <div class="data">
          <h4 class="data-title">Recovered</h4>
          <p class="number-data"><%= !country.recovered ? "No Data" : country.recovered %></p>
          <p class="data-date"><%= !country.lastUpdate ? "No Data" : country.lastUpdate %></p>
          <p class="data-description">Number of recovered COVID-19 cases</p>
        </div>

        <div class="data">
          <h4 class="data-title">Critical</h4>
          <p class="number-data"><%= !country.critical ? "No Data" : country.critical %></p>
          <p class="data-date"><%= !country.lastUpdate ? "No Data" : country.lastUpdate %></p>
          <p class="data-description">Number of critical COVID-19 cases</p>
        </div>
      </div>

      <div class="selection-area">
        <label class="select-label" for="selection">Select A Country</label>
        <select onChange="search()" class="countries">
          <option><%= country.country %></option>
          <% if (country.country != "Global") { %>
            <option>Global</option>
          <% } %> 
            <% for ( let name of countryNames ) { %> 
              <option><%= name %></option>
            <% } %>
        </select>
      </div>

      <div class="bottom-row">
        <div class="chart">
          <canvas id="myChart" width="50" height="29"></canvas>
        </div>
        <div class="map">
          <div id="map"></div>
        </div>
      </div>

        <form
        id="form"
        name="country"
        style="visibility: hidden;"
        action="/"
        method="get"
      ></form>

    </div>
  </body>
  <%- include('./partials/foot') %> 
</html>
