<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" id="main-style" href="./css/light/index.css" />
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto&amp;lang=en"
    />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto+Mono&amp;lang=en"
    />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css"
    />
    <title><%= country.country %></title>
  </head>
  <body>
    <div class="container">
      <div class="styles">
        <label for="dark/light">Dark Mode <i id="moon" class="far fa-moon"></i></label>
        <input id="dark-light" onChange="changeCSS()" class="style-btn" type="checkbox"></input>
      </div>
      <header class="title">
        <h3 class="covid-header">C<i class="fas fa-virus virus"></i>VID-19</h3>
        <h4 class="covid-subtitle">Latest Coronavirus Data</h4>
      </header>
      <div class="country">
        <h1 id="country-name" class="country-name"><%= country.country %></h1>
          <% if (country.code) { %>
          <span
          class="flag flag-icon-background flag-icon-<%= country.code.toLowerCase() %>"></span>
          <% } else if (country.country == "Diamond Princess" || country.country == "MS Zaandam") { %>
            <span class="flag flag-icon-background flag-icon-aa"></span>
          <% } else if (country.country == "Channel Islands") { %>
            <span class="flag flag-icon-background flag-icon-kl"></span>
          <% } else if (country.country == "Kosovo* (disputed teritory)") { %>
            <span class="flag flag-icon-background flag-icon-XK"></span>
          <% } %>
      </div>
      <div class="results">
        <div class="data">
          <h4 class="data-title">Confirmed</h4>
          <p class="number-data"><%= !country.confirmed ? "No Data" : country.confirmed %></p>
          <p class="data-date"><%= !country.lastUpdate ? "No Data" : country.lastUpdate %></p>
          <p class="data-description">Number of confirmed COVID-19 cases</p>
        </div>
        <div class="data">
          <h4 class="data-title">Deaths</h4>
          <p class="number-data"><%= !country.deaths ? "No Data" : country.deaths %></p>
          <p class="data-date"><%= !country.lastUpdate ? "No Data" : country.lastUpdate %></p>
          <p class="data-description">Number of deaths caused by COVID-19</p>
        </div>
        <div class="data">
          <h4 class="data-title">Recovered</h4>
          <p class="number-data"><%= !country.recovered ? "No Data" : country.recovered %></p>
          <p class="data-date"><%= !country.lastUpdate ? "No Data" : country.lastUpdate %></p>
          <p class="data-description">Number of recovered COVID-19 cases</p>
        </div>
        <div class="data">
          <h4 class="data-title">Critical</h4>
          <p class="number-data"><%= !country.critical ? "No Data" : country.critical %></p>
          <p class="data-date"><%= !country.lastUpdate ? "No Data" : country.lastUpdate %></p>
          <p class="data-description">Number of critical COVID-19 cases</p>
        </div>
      </div>
      <div class="selection-area">
        <label class="select-label" for="selection">Select A Country</label>
        <select onChange="search()" class="countries">
          <option><%= country.country %></option>
          <% if (country.country != "Global") { %>
            <option>Global</option>
          <% } %> 
            <% for ( let name in countryNames ) { %> 
              <option><%= countryNames[name] %></option>
            <% } %>
        </select>
      </div>
      <div class="bottom-row">
        <div class="chart">
          <canvas id="myChart" width="50" height="29"></canvas>
        </div>
        <div class="map">
          <div id="map"></div>
        </div>
      </div>
        <form
        id="form"
        name="country"
        style="visibility: hidden;"
        action="/"
        method="get"
      ></form>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="./scripts/index.js"></script>
  <script src="./scripts/chart.js"></script>
  <script src="./scripts/map.js"></script>
  <script
    src="https://kit.fontawesome.com/ce521607a0.js"
    crossorigin="anonymous"
  ></script>
</html>
